body {
  text-align: center;

  @media (max-width: 400px) {
    font-size: small;
  }
}

.App {
  position: relative;
  background: #f7f7f7;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 500px) {
    min-height: 90vh;
    margin: 5vh auto;
    width: 30em;
    height: 80vh;
    padding: 8em 4em;
  }
}

.poem-content {
  vertical-align: middle;
  position: relative;
  margin-bottom: 5em;
  border: 1px solid #e4e7eb;

  @media (min-width: 500px) {
    width: 20em;
    height: 20em;
    min-height: 20em;
  }
  @media (max-width: 500px) {
    width: 78vw;
    height: 78vw;
  }

  .sign {
    font-family: Geneva, sans-serif;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #000;
    text-shadow: #f7f7f7 4px 4px 1px;
    font-size: 8em;
    z-index: 40;
    transition: .8s;
    transform-origin: center;

    &.a {
      animation-duration: .8s;
      animation-name: kataA;
    }

    &.b {
      animation-duration: .8s;
      animation-name: kataB;
    }
  }

  @keyframes kataA {
    50% {
      transform: translate(-50%, -25%) rotate(-15deg);
    }
  }

  @keyframes kataB {
    50% {
      transform: translate(-50%, -25%) rotate(16deg);
    }
  }


  .flip {
    height: 100%;
    width: 100%;
    background: #e4e7eb;
    transform-style: preserve-3d; 
    transition: .8s;

    .poem-text {
      position: absolute;
      margin: 50% auto;
      transform: translateY(-50%);
      width: 100%;
      line-height: 2em;
      transition: cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: 2;
    }
  
    .poem-detail {
      height: 100%;
      width: 100%;
      white-space: pre-line;
      box-sizing: border-box;
      padding: 3em 1em;
      font-size: smaller;
      overflow-y: scroll;
      line-height: 2em;
      text-align: left;
      transform: rotateY(180deg);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    .poem-text, .poem-detail {
      backface-visibility: hidden;
      position: absolute;
    }

    &.fire {
      transform: rotateY(180deg);
    }
  }

  .poem-author {
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

.poem-ctrl {
  z-index: 50;

  .btn {
    border-radius: 100%;
    width: 4em;
    height: 4em;
    background: rgba(0, 0, 0, 0);
    border: 1px #ccc solid;
    color: #ccc;
    font-size: .8em;
  }

  .detail {
    left: 3em;
    margin: 0 8em 0 0;
    display: block;
  }

  .on {
    background: #f0f0f0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .random {
    right: 3em;
    margin: 0 0 0 8em;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  a {
    text-decoration: none;
    color: #ddd;
  }
}