body {
  // background: #f7f7f7;
  text-align: center;

  @media (max-width: 400px) {
    font-size: small;
  }
}

.App {
  position: relative;
  background: #f7f7f7;
  box-sizing: border-box;
  min-height: 670px;
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    margin: 5vh auto;
    width: 30em;
    height: 90vh;
    padding: 8em 4em;
  }

  width: 100vw;
  height: 100vh;
  padding: 20vh 10vw;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.poem-content {
  background: #e4e7eb;
  vertical-align: middle;
  position: relative;

  @media (min-width: 500px) {
    width: 22em;
    height: 22em;
  }
  @media (max-width: 500px) {
    width: 80vw;
    height: 80vw;
  }

  &:before {
    content: '“';
    font-family: Geneva, sans-serif;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #000;
    text-shadow: #f7f7f7 4px 4px 1px;
    font-size: 8em;
  }

  .poem-text {
    position: absolute;
    margin: 50% auto;
    transform: translateY(-50%);
    width: 100%;
  }

  .poem-author {
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

.poem-ctrl {
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);

  .btn {
    border-radius: 100%;
    width: 4em;
    height: 4em;
    background: rgba(0, 0, 0, 0);
    border: 1px #ccc solid;
    color: #ccc;
    font-size: .8em;
  }

  .detail {
    left: 3em;
    margin: 0 5em 0 0;
  }

  .random {
    right: 3em;
    margin: 0 0 0 5em;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  a {
    text-decoration: none;
    color: #ddd;
  }
}